<nav class="navbar navbar-light" style="background-color: #8C0044;">
  <div class="navbar-header">
    <h4 class="navbar-title"><%= link_to 'Site Name',root_path, style:"color: #FFFFFF"%></h4>
    <h4>Feeds</h4>
    <h4>All Post</h4>
    <h4 ><%= link_to 'New Post', new_article_path, style:"color: #FFFFFF"%></h4>
   
    <div class="navbar-right">
            
      <% if current_user%>
        <% if current_user.admin? %>
            <h4><%= link_to 'Admin後台', admin_categories_path, style:"color: #FFFFFF"%></h4>
          <% end %>
        
        
        <h4><%= current_user.email %></h4>
        <h4><%= link_to 'Profile', user_path(current_user), style:"color: #FFFFFF"%></h4>
       
        <h4><%= link_to "Logout",destroy_user_session_path,method: :delete, style:"color: #FFFFFF" %></h4>
      <% end %>  
    </div>           
  </div>

</nav>